.content-box {
    display: grid;
    grid-template-columns: 80% 20%;
}
ul {
    list-style-type: none;
}
.nav{
    font-size: 18px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.a1:link {
    color: red;
    text-decoration: none;
}
.a2:visited{
    color: #8B0000;
}
.a3:hover{
    color: green;
}
.a4:active{
    color: rgb(184, 134, 11);
}